@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
*  Scrollbar
*/

::-webkit-scrollbar-track {
    border: 1px solid rgba(14, 116, 144, 0.9);
    background-color: rgba(12, 94, 117, 0.9);
    border-radius: 20px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(15, 167, 209, 0.9);
    border-radius: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
